:target:not(.home){
  padding-top: var(--menuText);
}
.section{
  min-height: 600px;
  color: #fdfdfd;
  // border: 1px solid red;
  position: relative;
  &__title{
    font-size: 6em;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    letter-spacing: 10px;
  }
  &__left{
    position: relative;
    padding: 2em 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 4em;
  }
  &__right{
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__next{
    display: block;
    width: 2em;
    height: 2em;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 2em;
    z-index: 100;
    svg{
      fill: #f1a000;
      width: 100%;
      height: 100%;
    }
    &:hover{
      svg{
        fill: #ff2419;
      }
    }
  }
}
// .columnas{
//   @include from(l) {
//     display: grid;
//     grid-template-columns: calc(50% + 7px) 1fr;
//   }
//   @include to(l) {
//     display: flex;
//     flex-direction: column;

//   }
// }

.toTop{
  position: fixed;
  bottom: 1em;
  right: 1em;
  height:3em;
  width: 3em;
  background: var(--color-body-bg);
  z-index: calc(var(--z-modal) - 100);
  transform-origin: center;
  transform: rotate(180deg);
  padding: .5em;
  cursor: pointer;
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  transition: all .5s;
  svg {
    fill: #f1a000;
    width: 100%;
    height: 100%;
  }
  &.is-active{
    visibility: visible;
    opacity: 1;
  }
}
.solosListContainer{
  margin-top: 3em;
  width: 100%;
  display: flex;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  align-items: flex-start;
  ul{
    width: 30%;
  }
}
.servicios{
  --menuText: 60px;
  padding-top: var(--menuText);
}
